@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #f0f8ff;
}

.container {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

/* Navbar CSS */
.Navbar_Container {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Nav_Right {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.Nav_Right > li {
  margin-left: 25px;
  font-size: 14;
  font-weight: 400;
  color: #000000;
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

/* Header CSS */
.headerContainer {
  padding: 100px;
  text-align: center;
}

.headerContainer h1 {
  color: #000000;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;
}

.headerContainer p {
  font-size: 16px;
  line-height: 19px;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: normal;
  color: #000000;
  margin: 10px 0px 75px;
}

.iconsDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconsDiv p {
  font-size: 14px;
  line-height: 16px;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  color: #000000;
}

.blogCards {
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_div {
  width: 272px;
  height: 153.96px;
  background-color: #000000;
  border-radius: 10px;
  margin-bottom: 15px;
}

.cards {
  text-align: left;
}

.cards h4 {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  color: #000000;
}

.cards p {
  width: 272px;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  color: #000000;
}

.defiCardContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.defiCards {
  width: 344px;
  height: 400px;
  background: #ffffff;
  box-shadow: #dcdde1 0px 0px 16px;
  /* #487eb0 0px 0px 16px */
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.head {
  padding: 4px 8px;
  margin: 0px auto 24px;
  background: #f2f3f5;
  border-radius: 4px;
  font-size: 14px;
}

.defiCards p {
  font-size: 14px;
  line-height: 1.42857em;
  color: rgb(118, 128, 143);
  margin: 16px 0px 50px;
}

.defiCards .button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button button {
  background: #3fa9f5;
  border-radius: 8px;
  width: 88px;
  height: 40px;
  border: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 17px;
}

.investorImage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 75px 0px 50px;
}

.investorCard {
  width: 270px;
  height: 175px;
  border: 3px solid #3fa9f5;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.investorCard2 {
  width: 270px;
  height: 175px;
  border: 3px solid #ff1d25;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bscContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 75px;
}

.containerData1 h4 {
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  color: #000000;
}

.containerData1 ul {
  list-style: none;
  text-align: left;
  padding: 15px;
}

.containerData2 h4 {
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  color: #000000;
  margin-top: 25px;
}

.containerData2 ul {
  list-style: none;
  text-align: left;
  padding: 15px;
}

.containerData3 h4 {
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  color: #000000;
}

.containerData3 ul {
  list-style: none;
  text-align: left;
  padding: 15px;
}

/* Footer CSS */
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 40px;
  margin-bottom: 25px;
}

.footerDesc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.footer h4 {
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 4px;
  color: #000000;
  font-weight: 600;
}

.footer ul {
  list-style: none;
}

.li_item {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: rgb(118, 128, 143);
  padding-top: 12px;
  cursor: pointer;
  text-decoration: none;
}

.mobIcon {
  display: none;
}

.MobNav {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0px;
  right: 0px;
  display: flex;
  justify-content: flex-end;
  z-index: 400;
  transition: transform 0.3s ease-in-out;
}

.MobNavItem {
  min-width: 15.625em;
  height: 100%;
  background: #ffffff;
  padding: 50px;
  box-shadow: #dcdde1 0px 0px 16px;
}

.MobNavItem {
  list-style: none;
}

.MobNavItem li {
  margin-top: 25px;
  margin-left: 25px;
}

/* Responsive CSS */
@media screen and (max-width: 1024px) {
  .headerContainer {
    padding: 50px;
  }

  .blogCards {
    padding: 0px;
    flex-wrap: wrap;
    grid-gap: 0px 50px;
    justify-content: center;
  }

  .defiIcon {
    display: none;
  }

  .defiCardContainer {
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 50px;
  }

  .defiCards,
  .investorCard,
  .investorCard2 {
    margin-bottom: 25px;
  }

  .bscContainer {
    flex-wrap: nowrap;
  }

  .investorImage {
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 0px 50px;
  }

  .containerData3 {
    margin-bottom: 50px;
  }

  .footer {
    grid-gap: 25px 50px;
    justify-content: space-evenly;
  }

  .BSC_Img {
    display: none;
  }
}

@media screen and (max-width: 460px) {
  .mobIcon {
    display: block;
  }

  .headerContainer {
    padding: 10px;
  }

  .headerContainer h1 {
    font-size: 30px;
  }

  .iconsDiv {
    flex-wrap: wrap;
    grid-gap: 0px 25px;
    justify-content: center;
  }

  .iconsDiv p {
    margin-bottom: 25px;
  }

  .headerContainer p {
    margin-bottom: 40px;
  }

  .bscContainer {
    flex-wrap: wrap;
  }

  .containerData3 {
    margin-bottom: 0px;
    margin-top: 25px;
  }

  .footer {
    padding: 0px 20px;
    grid-gap: 25px 20px;
    justify-content: flex-start;
  }

  .footerDesc {
    justify-content: center;
    grid-gap: 15px;
    text-align: center;
  }

  .Nav1,
  .Nav2 {
    display: none;
  }
}
